/.metadata/
/mobile-app-ws/.mvn
/mobile-app-ws/.settings
/mobile-app-ws/target
/mobile-app-ws/.classpath
/mobile-app-ws/.project
/mobile-app-ws/HELP.md
/mobile-app-ws/mvnw
/mobile-app-ws/mvnw.cmd
/mobile-app-ws/.gitignore
*.log
*.gz
PhotoAppDiscoveryService/mvnw.cmd
PhotoAppDiscoveryService/mvnw
PhotoAppDiscoveryService/.mvn/wrapper/MavenWrapperDownloader.java
PhotoAppDiscoveryService/.mvn/wrapper/maven-wrapper.properties
PhotoAppDiscoveryService/.mvn/wrapper/maven-wrapper.jar
PhotoAppDiscoveryService/.mvn/wrapper/maven-wrapper.jar
PhotoAppDiscoveryService/.mvn/wrapper/maven-wrapper.jar
PhotoAppDiscoveryService/.mvn/wrapper/maven-wrapper.jar
PhotoAppDiscoveryService/.mvn/wrapper/maven-wrapper.jar
PhotoAppApiUsers/.mvn/wrapper/maven-wrapper.jar
PhotoAppApiUsers/.mvn/wrapper/maven-wrapper.properties
PhotoAppApiUsers/.mvn/wrapper/MavenWrapperDownloader.java
PhotoAppApiUsers/mvnw
PhotoAppApiUsers/mvnw.cmd
PhotoAppApiUsers/.mvn/wrapper/maven-wrapper.jar
PhotoAppDiscoveryService/.mvn/wrapper/maven-wrapper.jar
